<div class = "container-fluid">
  <div class = "row">
    <div class = "col-sm-12 col-lg-4" *ngFor = "let personaje of personajes">
      <mat-card class = "mt-2">
            <div class = "d-flex justify-content-start">
            <img src="{{personaje.image}}">
              <div class = "informacion-principal m-2">
                <mat-card-title>{{personaje.name}}</mat-card-title>
                <mat-card-subtitle>{{personaje.status}}</mat-card-subtitle>
                <div class = "d-flex justify-content-around align-self-center">
                  <fa-icon [icon]="['fas','circle-info']" (click)="visualizarDetalles(personaje.id)"></fa-icon>
                  <fa-icon [icon]="['fas','location-pin']" (click)="visualizarLocalizacion(personaje.id)"></fa-icon>
                </div>
              </div>
            </div>
        <mat-card-content>
          <mat-list>
            <mat-list-item>{{personaje.species}}</mat-list-item>
            <mat-list-item>{{personaje.location.name}}</mat-list-item>
            <mat-list-item>Last episode: {{personaje.episode[personaje.episode.length - 1][0]}}, {{personaje.episode[personaje.episode.length - 1][1]}}</mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
