<mat-card class = "mt-2">
  <div class = "row">
    <div class = "col-12 col-lg-6">
      <img class = "mx-auto" src="{{personaje.image}}">
    </div>
    <div class = "col-12 col-lg-6">
        <div class = "informacion-principal">
          <mat-card-title>{{personaje.name}}</mat-card-title>
          <mat-card-subtitle>{{personaje.status}}</mat-card-subtitle>
          <mat-list>
            <mat-list-item>{{personaje.gender}}</mat-list-item>
            <mat-list-item>{{personaje.species}}</mat-list-item>
            <mat-list-item>{{personaje.location.name}}</mat-list-item>
            <mat-list-item>Last episode: {{personaje.episode[personaje.episode.length - 1][0]}}, {{personaje.episode[personaje.episode.length - 1][1]}}</mat-list-item>
          </mat-list>
      </div>
    </div>
  </div>
        <mat-card-content>
          <p class = "text-info mt-2">Episodes</p>
          <mat-expansion-panel class = "m-2" (click)="verDetallesEpisodio(episodio[0])" hideToggle *ngFor = "let episodio of personaje.episode">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{episodio[0]}}: {{episodio[1]}}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Air date: {{episodio[2]}}</p>
          </mat-expansion-panel>
        </mat-card-content>
      </mat-card>
